

<ul  >
    <li><a href="Users">Users</a></li>
    
    <li class="dropdown">
      <a href="Category" class="dropbtn">Category</a>
      <div class="dropdown-content">
        <a href="vip">{{counterVip.length}} VIP Users </a>
        <a href="idle">{{counterIdle.length}} Idle Users</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="Status" class="dropbtn">Status</a>
      <div class="dropdown-content">
        <a href="active">{{counterActive.length}} Active Users </a>
        <a href="blocked">{{counterBlocked.length}} Blocked Users</a>
        <a href="suspended">{{counterSuspended.length}} Suspended Users</a>
      </div>
    </li>
    <li><a href="Add">Add User</a></li>
    
  </ul>

